/*STYLING IN FOR MAIN*/
/*#id .class*/

/**common things**/
html, body {
	top:0;
	padding: 0;
	margin: 0px;
	border: 0;
}

@font-face {
	font-family: 'customFont';
	src: url(../font/gothic.woff);
}

h2 {
	font-family: 'customFont';
	text-align: center;
	color: #084fb9c5;
	font-weight: bold;
}

h3{
	font-family: 'customFont';
}

.pics {
	width: 10%;
	height: auto;
	/*border-radius: 50%;*/
	margin-right: 30px;
}

#main {
	text-align: center;
	width: 100%;
}

#main img {
	width: 15%;
	height: auto;
	border-radius: 50%;
}

#linkImg img {
	width: 25px;
}

/*specific stuff*/
#coverBackground {
	background-image: url('../image/cover.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#coverLayer {
	background-color:#201a16;
	opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*****NAVIGATION BAR*****/
#body-navbar-list {
	position: fixed;
	width: 100%;
	min-width: 100%;
	top: 25px;
	padding: 1% 0px;
	margin-top: 0;
	list-style: none;
	font-weight: bold;
	/* background: #000; */
	opacity: 1;
	transition: height 0.5s linear 0s, padding 0.5s linear 0s;
}

#body-navbar-list ul {
	text-align: center;
	margin-right: 9%;
}

#body-navbar-list ul li {
	/* width: 100%; */
	display: inline;
	margin-left: 50px;
}

#body-navbar-list ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-family: 'customFont';
}

#body-navbar-list ul li a:hover {
	color: #4a4a4a;
	font-weight: bold;
}

#body-navbar-list ul li a:active {
	color: #4a4a4a;
	font-weight: bold;
}

#body-navbar-list ul li a:visited {
	color: #4a4a4a;
	font-weight: bold;
}

#name {
	top: 0;
	margin-top: 0;
	z-index: 1000;
}

#name h1 {
	color: #ffffff;
	margin-top: 0;
	font-size: 400%;
	margin-bottom: -20px;
	font-family: 'customFont';
	font-weight: bold;
}

#name h2 {
	color:#bebebe;
	text-align: center;
}

/*div to hold on content child elements*/
#contentWrapper {
	width: 100%;
	margin: 0 auto;
}

.content {
	width: 100%;
	padding: 6% 0;
}

.content div {
	width: 80%;
	margin: 5px auto;
	padding-bottom: 5px;
}

.content h3 {
	color: #434343;
}

.content p {
	font-family: 'customFont';
	font-size: 15px;
	color: #5a5a5a;
}

.project h3 {
	margin-top: 40px;
	color: #11bb82;
	display: block;
}

.jobs img {
	border-radius: 50%;
	border-width: 1px;
	border-color: gray;
	width: 10%;
	position: relative;
	top: -20px;
	z-index: -1;
	/* vertical-align: top; */
}

.jobs h3{
	display: inline-block;
	margin-left: 10px;
	color: #11bb82;
}

.jobs div {
	display: inline-block;
}

.jobs ul {
	list-style-type: circle;
	font-family: 'customFont';
	margin-left: -8px;
	font-size: 15px;
	color: #223a57;
}

.jobs footer {
	font-family: 'customFont';
	font-size: 13px;
	color: gray;
	padding: 0;
	margin-top: -20px;
	margin-left: 15px;
}

#greyProject {
	-webkit-box-shadow: inset 0px -1px 62px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px -1px 62px -5px rgba(0,0,0,0.45);
    box-shadow: inset 0px -1px 62px -5px rgba(0,0,0,0.45);
	/*padding: 10px 0;*/
	overflow: hidden;
	background-color: #ffffff;
	padding: 7% 0;
}

.gallery {
	margin-top: 20px;
	text-align: center;
}

.gallery ul {
	list-style: none;
}

.gallery ul li{
	display: inline-block;
	margin: 10px;
}

.gallery img {
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
}

.gallery img:hover {
	-webkit-filter: blur(2px);
	-moz-box-filter:blur(2px);
}

#grayContact {
	-webkit-box-shadow: inset 0px -1px 62px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px -1px 62px -5px rgba(0,0,0,0.45);
	box-shadow: inset 0px -1px 62px -5px rgba(0,0,0,0.45);
	padding: 10px 0;
	background-color: #ffffff;
	text-align: center;
	font-weight: bold;
	padding: 6% 0;
}

#grayContact p{
	display: inline-block;
	font-size: bold;
	font-size: 16px;
	margin-top: -50px;
}

#footer {
	/**#8b8c8c*/
	background-color: #222;
	padding: 5%;
}

#footer p {
	font-family: 'customFont';
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	/*color:#44474a;*/
	color: #999;
}