@media only screen and (min-width:150px) and (max-width: 600px) {
	#body-navbar-list {
		display: none;	
	}

	#body-navbar-list ul {
		display: none;
	}

	#body-navbar-list ul li {
		display: none;
	}

	#body-navbar-list ul li a {
		display: none;
	}

	#name h1 {
		font-size: 300%;
	}

	.gallery {
		margin-left: 0;
	}

	/*content font size*/
	.content p {
		font-size: 13px;
	}

	.jobs ul {
		font-size: 13px;
	}

	h3{
		font-size: 15px;	
	}
}